@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBlack: #151515;
  --primaryPurple: #854dff;
  --primaryWhite: #ffffff;
  --primaryLightGrey: #f0f0f0;
  --primaryGrey: #716f6f;
  --primaryLine: #dcdcdc;
  --primaryRed: #ff5959;
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    background-color: var(--primaryLightGrey);
    color: var(--primaryGrey);
  }
}
